<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h2>Login</h2>
        
        <hr>

        <p><input type="text" class="form-control" placeholder="E-mail..." ng-model="email" required /></p>
        <p><input type="password" class="form-control" placeholder="Senha..." ng-model="password" required /></p>
        <hr>

        <p><button type="button" class="btn btn-success form-control" ng-click="login()">Entrar</button></p>

        <hr>

        <p><a href="#signup">Esqueci minha senha</b></a></p>
    </div>
</div>
